<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{drinkerName}}</h1>
    <p class="lead">Transactions ordered by time and grouped by bar.</p>
  </div>
</div>

<div class="container">
  <p-table [value]="transactions">
    <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Bar</th>
          <th>Date</th>
          <th>Day</th>
          <th>Time</th>
          <th>Tip</th>
          <th>Total Cost</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transactions>
        <tr>
            <td>
                <a routerLink="/drinker/{{ transactions.Customer }}/{{transactions.ID}}">
                  {{ transactions.ID }}
                </a>
              </td>
          <td>{{ transactions.Bar }}</td>
          <td>{{ transactions.Date }}</td>
          <td>{{ transactions.Day }}</td>
          <td>{{ transactions.Time }}</td>
          <td>{{ transactions.Tip }}</td>
          <td>{{ transactions.TotalCost }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

