<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modification Page</h1>
    <p class="lead">This page can be used to modify our database. We allow insertions, deletions and updates into our table.
      To get started select a database you would like to use and an action you would like to perform.
    </p>
  </div>
</div>
<br>

<!-- MAIN DISPLAY ON LOAD-->

<div class="container">
<div class="row">
    <div class="col">
        <p class="font-weight-bold">Please select a database where you would like to perform an action.</p>
        <br>
        <p-dropdown class="float-center" *ngIf="databaseOptions" [options]="databaseOptions" placeholder="Select DataBase" (onChange)="setDatabase($event.value)"
        autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>
    <div class="col">
        <p class="font-weight-bold">Please select a action you would like to perform.</p>
        <br>
        <p-dropdown class="float-center" *ngIf="modificationOptions" [options]="modificationOptions" placeholder="Select Modification" (onChange)="setModification($event.value)" 
        autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>
  </div>
</div>

  
  <br>
  <br>
  <br>

  <div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-pull-right" value="generateForm" (click)="generateModification()">Generate Form</button>
  </div>

  <br>
  <br>
  <br>

  <div *ngIf= "loadTable">
  <div id = "scrollHere">
  <p class="text-monospace">Please select a column you wish to edit.</p>
  <div class="container">
      <p-table [value]="bars" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Licence</th>
              <th>City</th>
              <th>Phone</th>
              <th>Button</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bar>
            <tr>
              <td>
                  {{ bar.Bar }}
              </td>
              <td>{{ bar.License }}</td>
              <td>{{ bar.City }}</td>
              <td>{{ bar.Phone }}</td>
              <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="tableData(bar)"
              >Choose Column</button>
              </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<br>
<br>
<br>


 


  <!-- CODE FOR INSERT MODIFICATION-->
  <div *ngIf= "loadForm">
  <div id = "scrollHere">
  <div class="row justify-content-center" >
  <p class="text-monospace">Form: Please enter data for the following columns.</p>
  </div>
  <div class="row justify-content-center" >
  <ng-template ngFor let-col [ngForOf]="colInfoUpdate" let-i="index">
    <form>
      <div class="col">
      <div class="form-group">
        <label for="formGroupExample">{{ col }}</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert new {{ col }}" 
        [(ngModel)]="formData[col]" name="{{col}}">
    </div>
    </div>
    </form>
  </ng-template>
</div>
  </div>
</div>


<!-- END INSERT ONE-->
    <br>
    <br>

<div class="row justify-content-center" >
  <div *ngIf= "loadForm">
    <button type="button" class="btn btn-primary btn-lg btn-pull-right" (click)="enterData()">Enter Data</button>
    <div class="divider"></div>
    <button type="button" class="btn btn-primary btn-lg btn-pull-right" (click)="clearData()">Cancel Entry</button>
  </div>
</div>

