<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modification Page</h1>
    <p class="lead">This page can be used to modify our database. We allow insertions, deletions and updates into our table.
      To get started select a database you would like to use and an action you would like to perform.
    </p>
  </div>
</div>
<br>


<div class="container">
<div class="row">
    <div class="col">
        <p class="font-weight-bold">Please select a database where you would like to perform an action.</p>
        <br>
        <p-dropdown class="float-center" *ngIf="databaseOptions" [options]="databaseOptions" (onChange)="setDatabase($event.value)"
        autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>
    <div class="col">
        <p class="font-weight-bold">Please select a action you would like to perform.</p>
        <br>
        <p-dropdown class="float-center" *ngIf="modificationOptions" [options]="modificationOptions" (onChange)="setModification($event.value)" 
        autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>
  </div>
</div>

  
  <br>
  <br>
  <br>

  <div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-pull-right" value="generateForm" (click)="generateForm()">Generate Form</button>
  </div>
 
