<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bar Page</h1>
    </div>
</div>

<p class="text-lg-center">Please Select Bar Under Name And Scroll Down For Analytics</p>


<div class="container">
        <p-table [value]="bars" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Licence</th>
                <th>City</th>
                <th>Phone</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-bar>
              <tr>
                <td (click)="setBarSelected(bar.Bar)">
                    {{ bar.Bar }}
                </td>
                <td>{{ bar.License }}</td>
                <td>{{ bar.City }}</td>
                <td>{{ bar.Phone }}</td>
              </tr>
          </ng-template>
        </p-table>
      </div>

<br>

<div class="container">
<div class="row justify-content-center" >
<div id = "scrollHere">
<p class="text-monospace" *ngIf="selectText">Select day of the week to load which beers were most sold on that day</p>
</div>
</div>
</div>


<div class="container">
<div class="row justify-content-center" >
    <div>
          <p-dropdown class="float-right text-center" *ngIf="daysOfTheWeek" [options]="daysOfTheWeek" (onChange)="setPopulateForDay($event.value)" ></p-dropdown>
    </div>
</div>
</div>
<br>

<div class="container">
        <div class="row justify-content-center" >
                <div id="topBrands"></div>
        </div>
    </div>

<div class="container">
    <div class="row row align-items-center" >
            <div class="col">
                            <br>
                            <div id="topSpender"></div>
            </div>
            <div class="col">
                            <br>
                            <div id="inventorySold"></div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                    <br>
                    <div id="distributionDay"></div>
            </div>
            <div class="col">
                    <br>
                    <div id="distributionTime"></div>
            </div>
    </div>
</div>

