<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.City }} <span *ngIf="barDetails.City && barDetails.Phone">|</span> {{ barDetails?.Phone }}
            <br>
            {{ barDetails?.License }}
        </p>
    </div>
</div>

<div class="container">
    <h2 class="text-center font-weight-light">Bar Menu</h2>
    <br>
    <p-table [value]="menu">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Likes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td><a routerLink="/beers/{{ item.Name }}">{{ item.Name }}</a></td>
                <td>{{ item.Type }}</td>
                <td>{{ item.Manufacturer }}</td>
                <td>{{ item.Price | currency}}</td>
                <td>{{ item.likes }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>