<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{bartender}} at {{bar}}</h1>
      <p class="lead">Select a shift to view the number and amount of beers sold</p>
    </div>
  </div>
  
  <div class="container">
    <p-table [value]="beers_sold">
    <ng-template pTemplate="header">
        <tr>
          <th>Beer</th>
          <th>Amount Sold</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beers_sold>
        <tr>
          <td> {{beers_sold.Beer}} </td>
          <td> {{beers_sold.NumSold}}</td>
        </tr>
    </ng-template>
  </p-table>
  </div>
  <br><br>
  