<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{manufacturer}}</h1>
      <p class="lead">Details about the past week.</p>
    </div>
  </div>
  
  <p-table [value]="sales">
      <ng-template pTemplate="header">
          <tr>
              <th rowspan="3">Day</th>
          </tr>
          <tr>
              <th>Region With Highest Sales</th>
              <th>Regions Who Like Their Beers Most</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sale>
          <tr>
              <td>{{sale.brand}}</td>
              <td>{{sale.lastYearSale}}</td>
              <td>{{sale.thisYearSale}}</td>
              <td>{{sale.lastYearProfit}}</td>
              <td>{{sale.thisYearProfit}}</td>
          </tr>
      </ng-template>
  </p-table>