<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{manf}}</h1>
      <p class="lead">Details about the past week.</p>
    </div>
  </div>

  <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/manufacturer/{{ manf }}">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manufacturer/{{ manf }}/likes">Likes</a>
        </li>
      </ul>
  
  <div class="container">
  <p-table [value]="sales">
      <ng-template pTemplate="header">
          <tr>
              <th>Region With Highest Sales</th>
              <th>Beers Sold</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sales>
          <tr>
              <td>{{sales.City}}</td>
              <td>{{sales.totalSales}}</td>
          </tr>
      </ng-template>
  </p-table>
  <br><br>
</div>




